.tile-info-container {
    width: 260px;
}

.tile-info-container h3 {
    font-size: .8rem;
}

span.no-selection {
    font-size: .75rem;
}

.tile-properties {
    font-size: .7rem;
}

.texture-wrapper {
    width: 24px;
    height: 24px;
    border: 1px solid gray;
    margin: 1px;
}

.wall-textures li {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.wall-textures span {
    width: 80px;
    align-self: center;
}
