#map-canvas {
    border: 1px solid gray;
    width: 100px;
    height: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: space-around;
}

.components-right {
    user-select: none;
}