:root {
  font-family: 'Press Start 2P', monospace;
  color-scheme: light;
  background-color: #FCFCFC;
  color: rgb(100, 100, 100);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#selected-tile {
  border: 1px solid blue;
  position: absolute;
  background-color: blue;
  opacity: .2;
}

#cursor-tile {
  border: 1px solid orange;
  position: absolute;
  background-color: rgb(255, 193, 143);
  opacity: .5;
}